@rbl:registry=https://us-central1-npm.pkg.dev/rbl-common/rbl/
//us-central1-npm.pkg.dev/rbl-common/rbl/:_password="eWEyOS5BMEFScmRhTV83eWthSDMwcnIzTHZoa1B1MEhiMTJ6YjlELTFzWWtpX3RWNTh5bExManhqOUo5SzlEQW9BSHpJUVNDUFBwdkx2R1lEV1FqbFczVFNvLU04NGdrdHFxckpTNnVzd2xkMGQwZnRhbkNVZWRZUVZNVGlwQkh5RlpJclZvRG0xQmpob1RQRDdJLXRjS3NiXzBQQXVhY2V5ekxHZw=="
//us-central1-npm.pkg.dev/rbl-common/rbl/:username=oauth2accesstoken
//us-central1-npm.pkg.dev/rbl-common/rbl/:email=not.valid@email.com
//us-central1-npm.pkg.dev/rbl-common/rbl/:always-auth=true
unsafe-perm = true

