input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
  border:solid 2px #7d7d7d;
  padding: 0.1rem 0.3rem;
  display: inline-block;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 5px;
}


input[type="checkbox"]:checked + label {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color: #666699; color: white; border-color:#666699;
}
